@import "tailwindcss";

@theme {
  --font-sans: "Poppins";

  --color-primary: #1f1f1f;
  --color-secondary: #99b5bb;
  --color-tertiary: #ff9900;
  --color-sand: #edede6;
}

@layer base {
  body {
    @apply text-primary;
  }

  select {
    @apply h-14 appearance-none rounded-full border bg-[url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20d%3D%22M5.293%207.293a1%201%200%20011.414%200L10%2010.586l3.293-3.293a1%201%200%20111.414%201.414l-4%204a1%201%200%2001-1.414%200l-4-4a1%201%200%20010-1.414z%22%20fill%3D%22%23000%22%2F%3E%3C%2Fsvg%3E')] bg-[length:20px_20px] bg-[right_12px_center] bg-no-repeat px-4 pr-9;
  }
}
