---
import SanityImage from "../SanityImage.astro";

interface Props {
  block: {
    image?: any;
    alt?: string;
  };
}

const { block } = Astro.props;
---

{
  block.image && (
    <section class="py-16 px-4">
      <div class="container mx-auto max-w-4xl">
        <SanityImage
          image={block.image}
          alt={block.alt || ""}
          class="h-auto w-full rounded-lg"
        />
      </div>
    </section>
  )
}
