---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'div'>;
const { class: _class, ...props } = Astro.props;
---

<div
  {...props}
  class={twMerge(
    "bg-white flex flex-col rounded-xl overflow-hidden p-6",
    _class
  )}
>
  <slot />
</div>
