---
import { twMerge } from "tailwind-merge";
import type { HTMLAttributes } from "astro/types";
type Props = HTMLAttributes<"div">;
const { class: _class, ...props } = Astro.props;
---

<div
  {...props}
  class={twMerge("bg-white flex flex-col rounded-xl px-6 py-8", _class)}
>
  <div class="text-md font-semibold">
    <slot name="title" />
  </div>
  <slot />
</div>
