---
import { twMerge } from "tailwind-merge";
import type { HTMLAttributes } from "astro/types";
type Props = HTMLAttributes<"div">;
const { class: _class, ...props } = Astro.props;
---

<div
  {...props}
  class={twMerge("bg-white flex flex-col rounded-xl overflow-hidden", _class)}
>
  <slot name="image" />
  <div class="px-6 py-8">
    <div class="text-md font-semibold">
      <slot name="title" />
    </div>
    <slot />
  </div>
</div>
