---
import { Image } from "astro:assets";
import Button from "../components/Button.astro";
import Icon from "./Icon.astro";
---

<footer class="bg-primary px-4 py-10 text-white md:py-16">
  <div
    class="container mx-auto flex max-w-4xl flex-col justify-between gap-10 md:flex-row"
  >
    <div>
      <Image
        src="/logo_emblem.svg"
        alt="Logo of The Mechanic"
        height="1"
        width="200"
      />
      <div class="mt-6 text-sm">
        Van Leijdenstraat 2C<br />
        2277 AW Voorburg
      </div>
      <div class="mt-6 space-x-1 [&>*]:inline-block">
        <a href="https://www.linkedin.com">
          <Icon name="linkedIn" class="h-10" />
        </a>
        <a href="https://www.facebook.com">
          <Icon name="facebook" class="h-10" />
        </a>
        <a href="https://www.instagram.com">
          <Icon name="instagram" class="h-10" />
        </a>
      </div>
      <div class="mt-12 flex flex-col gap-2">
        <a href="tel:0708209890">
          <Button variant="secondary" size="sm">
            <Icon name="phone" class="mr-2 inline-block h-5" />
            070 8209890
          </Button>
        </a>
        <a href="mailto:The Mechanic<info@themechanic.nl>">
          <Button variant="secondary" size="sm">
            <Icon name="email" class="mr-2 inline-block h-5" />
            info@themechanic.nl
          </Button>
        </a>
      </div>
    </div>
    <div>
      <div class="font-semibold">Direct naar</div>
      <div class="mt-4 space-y-2 [&>*]:block">
        <a href="#">Diensten</a>
        <a href="#">Collectie</a>
        <a href="#">Over ons</a>
      </div>
    </div>
    <div>
      <div class="font-semibold">Openinstijden</div>
      <table class="mt-4 [&_td+td]:pl-4 [&_td]:py-1">
        <tr id="monday">
          <td>Maandag</td>
          <td>08:00 - 17:00</td>
        </tr>
        <tr id="tuesday">
          <td>Dinsdag</td>
          <td>08:00 - 17:00</td>
        </tr>
        <tr id="wednesday">
          <td>Woensdag</td>
          <td>08:00 - 17:00</td>
        </tr>
        <tr id="thursday">
          <td>Donderdag</td>
          <td>08:00 - 17:00</td>
        </tr>
        <tr id="friday">
          <td>Vrijdag</td>
          <td>08:00 - 17:00</td>
        </tr>
        <tr id="saturday">
          <td>Zaterdag</td>
          <td>Variërend*</td>
        </tr>
        <tr id="sunday">
          <td>Zondag</td>
          <td>Gesloten</td>
        </tr>
      </table>
    </div>
  </div>
</footer>
<script>
  const today = new Date();
  const nameOfDay = today.toLocaleDateString("en-GB", { weekday: "long" });
  const day = document.getElementById(nameOfDay.toLowerCase());
  if (day) day.classList.add("font-bold");
</script>
