---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a
  href={href}
  data-active={isActive}
  class:list={[
    className,
    "font-md text-neutral-600 data-[active=true]:text-[#1F1F1F]",
  ]}
  {...props}
>
  <slot />
</a>
