---
import Button from './Button.astro';
import HeaderLink from './HeaderLink.astro';
import TextLogo from './TextLogo.astro';

interface Props {
	transparent?: boolean;
}

const { transparent } = Astro.props as { transparent?: boolean };
---

<header
  class="fixed top-0 right-0 left-0 z-50 transition-transform"
  id="site-header"
>
  <nav
    class:list={[
      "p-4",
      { "bg-transparent": transparent, "bg-white": !transparent },
    ]}
  >
    <div class="container mx-auto flex max-w-4xl items-center justify-between">
      <a href="/">
        <TextLogo class="h-6 text-[#b0b1b3] md:h-8" />
      </a>
      <div class="hidden items-center gap-6 md:flex">
        <HeaderLink href="/diensten">Diensten</HeaderLink>
        <HeaderLink href="/voorraad">Voorraad</HeaderLink>
        <HeaderLink href="/about">Over</HeaderLink>
        <Button variant="tertiary">Contact</Button>
      </div>
      <div
        class="md:hidden"
        x-data="{ open: false }"
        x-on:resize.window="open = false"
        x-effect="if (open) { document.body.style.position = 'fixed' } else { document.body.style.position = 'relative' }"
      >
        <div
          @click="open = !open"
          class="bg-tertiary relative z-20 flex size-12 cursor-pointer items-center justify-center rounded-full text-white"
        >
          <button class="cursor-pointer">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-8 transition-transform"
              :class="{ 'rotate-45': open }"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1"
                d="M4 9h16M4 15h16"
                x-show="!open"></path>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1"
                d="M12 4v16M4 12h16"
                x-cloak
                x-show="open"></path>
            </svg>
          </button>
        </div>
        <div
          x-show="open"
          x-collapse
          x-cloak
          class="bg-tertiary fixed top-0 right-0 z-10 w-full"
        >
          <div class="flex h-dvh flex-col p-10 text-white">
            <div
              class="flex grow flex-col justify-center space-y-8 text-4xl [&_a]:block"
            >
              <a href="/diensten">Diensten</a>
              <div class="space-y-6 pl-6 text-2xl text-white/90">
                <a>Onderhoud</a>
                <a>Restauratie</a>
                <a>Inkoop Verkoop</a>
              </div>
              <a href="/voorraad">Voorraad</a>
              <a href="/over-ons">Over ons</a>
              <a href="/contact">Contact</a>
            </div>
            <div class="text-2xl text-white/50">Passie voor auto's</div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<script is:inline>
  document.addEventListener("astro:page-load", () => {
    let prevScrollPos = window.scrollY;
    const header = document.getElementById("site-header");

    if (header) {
      const handleScroll = () => {
        const currentScrollPos = window.scrollY;
        if (prevScrollPos > currentScrollPos || currentScrollPos <= 0) {
          // Scrolling up
          header.style.transform = "translateY(0)";
        } else {
          // Scrolling down
          header.style.transform = "translateY(-100%)";
        }
        prevScrollPos = currentScrollPos;
      };

      window.addEventListener("scroll", handleScroll);
    }
  });
</script>
