---
import "keen-slider/keen-slider.min.css";

const props = Astro.props;
---

<div {...props}>
  <div id="slider" class="flex overflow-hidden items-stretch md:gap-8">
    <slot />
  </div>
</div>
<script>
  import Keenslider from "keen-slider";
  document.addEventListener("astro:page-load", () => {
    const slider = document.getElementById("slider");
    if (!slider) return;
    new Keenslider(slider, {
      slides: {
        spacing: 16,
      },
      breakpoints: {
        "(min-width: 768px)": {
          disabled: true,
        },
      },
    });
  });
</script>
