---
import { twMerge } from "tailwind-merge";
import type { HTMLAttributes } from "astro/types";

import { cva, type VariantProps } from "class-variance-authority";

const title = cva("flex items-center gap-3", {
  variants: {
    variant: {
      primary: ["[&>svg]:text-primary", "text-white"],
      secondary: ["[&>svg]:text-secondary", "text-white"],
      tertiary: ["[&>svg]:text-tertiary", "text-white"],
    },
  },
});

interface Props extends HTMLAttributes<"div">, VariantProps<typeof title> {}

const { variant = "primary", class: _class, ...props } = Astro.props;
---

<div {...props} class={title({ variant, class: _class })}>
  <svg width="8" height="8" fill="currentColor">
    <circle cx="4" cy="4" r="4"></circle>
  </svg>
  <slot />
</div>
